# My python reference

In [2]:
type(1.1)

float

In [3]:
for i in enumerate(range(5)):
    print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4
5
6
7
8
9

The below is called floor division is equal to `Math.floor(89/4)` in JS

In [1]:
89//4

22

In [1]:
"a"*8

'aaaaaaaa'

In [2]:
"a"+1

TypeError: can only concatenate str (not "int") to str

In [6]:
a = 1
a++

SyntaxError: invalid syntax (<ipython-input-6-db7230e3ef00>, line 2)

In [8]:
True and print('hello')

hello